/*навесил шрифт на бади*/

body{
	font-family: 'Play', sans-serif;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

/*чтобы не прилипло - паддинг 15пкс*/

.header{
	background-image: url("img/bg-stars.jpg");
	padding: 46px 15px 140px;
	background-size: cover;
	background-position: center;
}

/*каскад*/

.header .wrap{
	border-bottom:1px solid #145c86;
	display: flex;
	align-items:flex-end;
	justify-content:space-between;
	padding-bottom: 32px;
}

.questions .wrap{
	display: flex;
	justify-content:space-between;
}

/*разбил лого*/
/*выровнял по линии*/

.logo{
	display: flex;
	text-decoration: none;
	align-items:center;
}

.logo__text{
	font-size: 23.03px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.logo__picture{
	background-image: url("img/logo.jpg"); 
	background-repeat: no-repeat;
	width: 56px;
	height: 61px;
	margin-right: 24px;
}

.logo span{
	color:#02c5ff;
}

.contacts__number{
	font-size:25px;
	font-weight: 700;
	color:#fff;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.contacts__text{
	font-size:9px;
	color:#02c5ff;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	text-align: justify;
	text-align-last: justify;
	-moz-text-align-last: justify;
}

.questions__column{
	width: 474px;
	padding: 0 40px;
	box-sizing: border-box;
}

.questions{
	background-image: url("img/bg-clouds.jpg");
	background-size: cover;
	background-position: center;
	padding: 90px 15px 120px;
}

.questions__question{
	background-color: #02c5ff;
	position: relative;
	border-radius: 6px;
	min-height: 135px;
	font-size: 22.63px;
	color:#fff;
	line-height: 30.94px;
	font-weight: 700;
	display: flex;
	align-items:center;
	box-sizing: border-box;
	padding: 0 40px;
	text-transform: uppercase;
	margin-bottom: 47px;
}

.questions__question:after{
	content:"";
	position: absolute;
	width: 48px;
	height: 21px;
	background-image: url("img/triangle.png");
	background-position: center;
	background-repeat: no-repeat;
	left:35px;
	bottom: -21px;
}

.questions__answer{
	font-size: 17.24px;
	line-height: 24.2px;
	color:#021933;
	box-sizing: border-box;
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.promo{
	background-image: url("img/bg-earth.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	text-align: center;
	padding: 238px 15px 65px;
}

.promo__text{
	font-size: 22.03px;
	line-height: 31.68px;
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	max-width: 515px;
	margin: 0 auto 31px;
}

.promo__exclaim{
	font-size: 22.03px;
	line-height: 31.68px;
	color:#02c5ff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	max-width: 515px;
	margin: 0 auto 58px;
}

.button{
	display: inline-block;
	background-color: #02c5ff;
	color:#000;
	text-decoration: underline;
	padding: 18px 46px;
	font-size: 16.03px;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 30px;
	border: 2px solid #02c5ff;
	margin-bottom: 109px;
	transition: background-color 1s, border 1s, color 1s;
	text-decoration: none;
}

.button span{
	position: relative;
}

.button span:after{
	content:"";
	position:absolute;
	width: 100%;
	border-bottom: 1px solid #004e67;
	bottom: 1px;
	left:0;
	transition: border 1s;
}

.button:hover{
	background-color: transparent;
	color:#fff;
	border: 2px solid #fff;
}

.button:hover span:after{
	border-bottom: 1px solid transparent;
}

.socials__title{
	text-transform: uppercase;
	font-weight: 700;
	color:#fff;
	font-size: 18.13px;
	margin-top: 0;
	margin-bottom: 24px;
}

.socials__links{
	width: 250px;
	display: flex;
	justify-content:space-between;
	margin: 0 auto;
}

.socials__link{
	width: 40px;
	height: 40px;
	border: 2px solid #02c5ff;
	border-radius: 50%;
	display: flex;
	justify-content:center;
	align-items:center;
	box-sizing: border-box;
	transition: background-color 1s, border 1s;
}

.socials__link:hover{
	background-color: #fff;
	border: 2px solid #fff;
}

.socials__link svg{
	transition: fill 1s;
}

.socials__link:hover svg{
	fill:#02c5ff;
}
