@font-face{
	font-family: "Helios";
	font-style: normal;
	font-weight: 300;
	src: url("../font/helioslightc.otf");
}

@font-face{
	font-family: "Helios";
	font-style: normal;
	font-weight: 100;
	src: url("../font/heliosthinc.otf");
}

body{
	font-family: 'PT Sans', sans-serif;
	min-width: 320px;
}

.top{
	margin:0 auto;
	background-color:#f0f0f0;
	padding-top: 7px;
	padding-bottom: 14px;

	&__wrap{
		display: flex;
		justify-content:space-between;
	}
}

.wrap{
	width:90%;
	max-width: 963px;
	margin: 0 auto;
}

.options{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;

	&__option{
		list-style-type: none;
		margin-right: 29px;

		&:last-child{
			margin-right: 0;
		}

		@media(max-width: 650px){
	    	margin-right: 0;
		}
	}

	&__link{
		text-decoration: none;
		color: #0c4da2;
		font-size: 0.75rem;
		font-weight: 700;

		&:hover{
			text-decoration: underline;
		}
	}

	&__country-name{
		color: #000;
		font-size: 0.75rem;
		font-weight: 700;
	}

	@media(max-width: 650px){
	    flex-direction: column;
	}
}

.user{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;

	&__indicator{
		list-style-type: none;
		margin-right: 44px;
		position: relative;

		@media(max-width: 650px){
	    	margin-right: 0;
		}
	}

	&__indicator-icon{
		width: 20px;
		height: 20px;
		position: absolute;
		left:0;
		top:2px;
	}

	&__enter{
		list-style-type: none;
	}

	&__link{
		text-decoration: none;
		color: #0c4da2;
		font-size: 0.75rem;
		font-weight: 700;

		&--indicator{
			padding-left: 28px;
		}

		&:hover{
			text-decoration: underline;
		}
	}

	@media(max-width: 650px){
	    flex-direction: column;
	}
}

.header{
	padding-top: 20px;

	&__wrap{
		display: flex;
		justify-content:space-between;
		align-items: flex-start;

		@media(max-width: 570px){
	    	flex-direction: column;
	    	align-items: center;
		}
	}

	@media(max-width: 1075px){
	    padding-bottom: 20px;
	}
}

.logo{
	width: 231px;
	height: 39px;
	background-image: url("../images/logo.jpg");
	position: relative;
	z-index: 2;

	@media(max-width: 570px){
    	margin-bottom: 15px;
	}
}

.search{
	position: relative;
	z-index: 2;
	display: inline-block;
	width: 26.1%;
	top: 6px;

	&__input{
		width: 100%;
		border: 1px solid #c8c8c8;
		padding: 3px 30px 7px 8px;
		box-sizing: border-box;
		vertical-align:top;
	}

	&__input::-webkit-input-placeholder{
		opacity: 1;
		font-size: 0.875rem;
		color: #b2b2b2;
	}

	&__input::-moz-placeholder{
		opacity: 1;
		font-size: 0.875rem;
		color: #b2b2b2;
	}

	&__input:-ms-input-placeholder{
		opacity: 1;
		font-size: 0.875rem;
		color: #b2b2b2;
	}

	&__input:-moz-placeholder{
		opacity: 1;
		font-size: 0.875rem;
		color: #b2b2b2;
	}

	&__icon{
		width: 17px;
		height: 17px;
		position: absolute;
		top:6px;
		right: 8px;
	}

	@media(max-width: 1075px){
    	width: 251px;
	}

	@media(max-width: 570px){
    	top: 0;
    	width: 100%;
	}
}

.slider{
	max-width: 1100px;
	margin: 0 auto;

	&__slide{
		background-image: url("../images/plane.jpg");
		background-size: cover;
		box-sizing: border-box;
		padding-left: 147px;
		padding-top: 212px;
		padding-bottom: 50px;
		padding-right: 72px;
		padding-bottom: 72px;
		background-position: center;

		@media(max-width: 650px){
	    	padding-left: 72px;
		}
	}

	&__title{
		font-family: "Helios", sans-serif;
		font-weight: 300;
		font-size: 4.750rem;
		color: #fff;
		margin-top: 0;
		margin-bottom: 7px;
		
		& span{
			position: relative;
		}

		& span:before{
			content:"";
			width: 28px;
			height: 30px;
			background-image: url("../images/plane-icon.png");
			position: absolute;
			top: 16px;
			right: -33px;

			@media(max-width: 1100px){
		    	display: none;
			}
		}

		&--small{
			font-family: "Helios", sans-serif;
			font-weight: 100;
			font-size: 3rem;
			color: #fff;
			margin-top: 0;
			margin-bottom: -17px;

			@media(max-width: 1100px){
		    	margin-bottom: 0;
			}

			@media(max-width: 650px){
		    	text-align:center;
		    	font-size: 1.875rem;
			}
		}

		@media(max-width: 1100px){
	    	font-weight: 100;
			font-size: 3rem;
		}

		@media(max-width: 650px){
	    	text-align:center;
	    	font-size: 1.875em;
		}
	}

	&__subtitle{
		font-family: "Helios", sans-serif;
		font-weight: 100;
		font-size: 0.813rem;
		color: #fff;
		margin: 0;
		padding-left: 5px;

		@media(max-width: 1100px){
	    	padding-left: 0;
		}

		@media(max-width: 650px){
	    	text-align:center;
		}
	}
}

.popup{
	position: relative;
	background: #FFF;
	padding: 50px 20px 20px;
	width: auto;
	max-width: 350px;
	margin: 20px auto;

	&__input{
		width: 100%;
		margin-bottom: 15px;
	}
}

label.error{
	position: relative;
	top: -15px;
	display: block;
}



