.about{
	padding-top: 36px;
	padding-bottom: 35px;

	&__icon{
		margin-bottom: 26px;
	}

	&__text{
		text-align: center;
		max-width: 500px;
		margin: 0 auto 37px;
		line-height: 24px;
	}

	&__title{
		margin-bottom: 10px;
	}
}