@font-face {
	font-family: "Roboto";
	src: url("../font/roboto/Roboto-Light.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/roboto/Roboto-Thin.ttf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/roboto/Roboto-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}