.pseudo-input{
	position: relative;

	&__placeholder{
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		color: $text-color--muted;
		font-size: 24px;
		font-weight: $font-weight-reg;
		pointer-events: none;
		transition: 0.2s ease all;
		left: 0;

		&--small{
			font-size: 14px;
			top: 6px;
			transform: none;
		}
	}

}