$font-family: 'Roboto', sans-serif;
$font-size: 16px;

$font-weight-reg: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

$text-color: #1c1c1c;
$text-color--muted: #c8c8c8;

$blue: #435993;

$link-color: $blue;
$link-color--hover: #383838;

$input-border-color: #e5e5e5;
$input-border-color--hover: $blue;

$font-size--h1: 70px;
$font-size--h2: 30px;

