.logo{
	font-size: 30px;
	font-weight: 700;
	line-height: 41px;
	color: #42BBE9;
	text-decoration: none;
	display: flex;
	align-items: center;

	&:hover{
		color:#083344;
	}

	&__image{
		width: 120px;
		height: 90px;
		margin-right: 12px;
		background-repeat: no-repeat;
	}

	&--white{
		color: #fff;
	}
}