.modal{
	width: 379px;
	box-sizing: border-box;
	background-color: #fff;
	background-image: url(../images/corner-01.png), url(../images/corner-02.png);
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	padding: 32px 60px 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	&__title{
		line-height: 18px;
		font-size: 16px;
		color: #000;
		font-weight: 400;
		text-align: center;
		margin-top: 0;
		margin-bottom: 29px;

		span{
			font-weight: 500;
		}
	}

	&__bind{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__label{
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		line-height: 16px;
		width: 100%;
		margin-bottom: 8px;
	}

	&__binds{
		margin-bottom: 30px;
	}

	&__input{
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #E6E6E6;
		box-sizing: border-box;
		border-radius: 20px;
		height: 36px;
		padding: 0 20px;

		&:focus{
			border-color: #083344;
			outline: 0;
		}
	}

	&__link{
		color: #42A3E9;

		&:hover{
			color: #083344;
		}
	}

	&__additory-link{
		position: absolute;
		top: 34px;
		right: 18px;
		line-height: 14px;
		font-size: 12px;
		text-decoration-line: underline;
		color: #5F5F5F;

		&:hover{
			color: #000;
		}
	}


	&__next{
		display: flex;
		justify-content: center;
		margin-bottom: 27px;
	}

	&__tip{
		display: flex;
		justify-content: center;
		line-height: 16px;
		font-size: 14px;
		color: #000;
	}

	&__question{
		margin-right: 15px;
	}


}