.team{
	padding-top: 115px;
	padding-bottom: 63px;
	background-image: url("../images/background-waves.png");
	background-position: center bottom;
	background-repeat: no-repeat;

	&__section-title{
		margin-bottom: 54px;
	}
}