@font-face{
	font-family: "Trebuchet";
	src: url("../fonts/Trebuchet MS Regular.ttf") format("truetype"), 
		url("../fonts/Trebuchet MS Regular.eot") format("embedded-opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: "Trebuchet";
	src: url("../fonts/Trebuchet MS Bold.ttf") format("truetype"),
		url("../fonts/Trebuchet MS Bold.eot") format("embedded-opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Exo";
	src: url("../fonts/Exo2.0-Thin.otf") format("opentype"), 
		url("../fonts/Exo2.0-Thin.eot") format("embedded-opentype");
	font-weight: 100;
	font-style: normal;
}
	