.item{
	width: 32%;
	max-width: 320px;
	position: relative;

	&__caption{
		font-size: 13px;
		color: #fff;
		text-align: center;
		padding: 14px 0;

		&--when-selected{
			display: none;
		}

		&--when-disabled{
			color: $yellow;
			display: none;
		}
	}

	&__link{
		color: $blue;
		text-decoration: none;
		position: relative;

		&:after{
			content: "";
			position: absolute;
			width: 100%;
			border-bottom: 1px dashed $blue;
			left: 0;
			bottom: 0;
		}

		&:hover{
			color: $blue-hover;
		}
	}

	&--disabled{
		cursor: auto;
		pointer-events: none;

		.item__caption--default{
			display: none;
		}

		.item__caption--when-disabled{
			display: block;
		}

		.pack__top-line{
			border-color: $light-grey;
		}
		.pack__body{
			border-color: $light-grey;
		}
		.pack__corner:after{
			background-color: $light-grey;
		}
		.pack__mass{
			background-color: $light-grey;
		}

		.pack__tagline{
			color: $light-grey;
		}

		.pack__title{
			color: $light-grey;
		}

		.pack__ingredient{
			color: $light-grey;
		}

		.pack__portions{
			color: $light-grey;
		}

		.pack__extra{
			color: $light-grey;
		}

		.pack__body{
			background-image: url("../images/cat--disabled.png");
		}

	}

	@media(max-width: 1115px){
		width: 48.5%;
		margin-bottom: 10px;

		&:last-child{
			margin: 0 auto;
		}
	}

	@media(max-width: 735px){
		width: 100%;
	}
}