$font-family: "Trebuchet", sans-serif;
$font-size: 16px;

$font-weight-thin: 100;
$font-weight-reg: 400;
$font-weight-bold: 700;

$blue: #1698d9;
$blue-hover: #2ea8e6;

$pink: #d91667;
$pink-hover: #e62e7a;

$grey: #666;

$light-grey: #b3b3b3;

$yellow: #ffff66;

$pack-bg: #f2f2f2;
