@font-face{
	font-family: "PFAgoraSlabPro";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/pfagoraslabpro-reg.ttf");
}

@font-face{
	font-family: "PFAgoraSlabPro";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/pfagoraslabpro-medium.ttf");
}

.services{
	margin-bottom: 40px;
}

.services__title{
	font-family: "PFAgoraSlabPro";
	font-size: 2.25rem;
	color:#0e839a;
	margin-bottom: 35px;
}

.card{
	padding: 67px 60px 60px;
	box-sizing: border-box;
	margin-bottom: 50px;
	font-family: "PFAgoraSlabPro";
	color:#030303;
}

.card:last-child{
	margin-bottom: 20px;
}

.card--ground{
	background-image: url("images/background-blue.png");
	background-position: center;
	background-size: cover;
}

.card--project{
	background-image: url("images/background-pink.png");
	background-position: center;
	background-size: cover;
}

.card--building{
	background-image: url("images/background-gray.png");
	background-position: center;
	background-size: cover;
}

.card--introduction{
	background-image: url("images/background-blue-2.png");
	background-position: center;
	background-size: cover;
}

.card--exploitation{
	background-image: url("images/background-blue-3.png");
	background-position: center;
	background-size: cover;
}

.card__columns{
	display: flex;
}

.card__header{
	font-size: 1.875rem;
	font-weight: 500;
	font-family: "PFAgoraSlabPro";
	color:#030303;
	margin-top: 0;
	margin-bottom: 22px;
}

.card__subtitle{
	font-size: 1.5rem;
	font-family: "PFAgoraSlabPro";
	color:#030303;
	margin-top: 0;
	margin-bottom: 13px;
}

#main .card__item{
	font-size: 1rem;
	font-family: "PFAgoraSlabPro";
	color:#030303;
	margin-top: 0;
	margin-bottom: 12px;
}

.card__list{
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
}

.card__list-item{
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
	box-sizing: border-box;
}

.card__list-item:before{
	content: "—";
	position: absolute;
	top:1px;
	left: 0;
}

.card__column{
	width: 46%;
}

.card__column:first-child{
	margin-right: 6%;
}

.stages__wrap{
	//width: 944px;
	display: flex;
	justify-content:center;
	margin: 0 auto;
}

.stages__stage{
	width: 20%;
	border: 0;
	position: relative;
}

.js-active .stages__stage-name{
	color:#e96e44;
}

.js-active .stages__stage-name span{
	border:0;
}

.js-active .stages__arrow{
	background-image: url("images/arrow-orange.png");
}

.stages__stage:hover .stages__stage-name{
	color:#e96e44;
}

.stages__stage:hover .stages__stage-name span{
	border:0;
}

.stages__stage:hover .stages__arrow{
	background-image: url("images/arrow-orange.png");
}

.stages__icon{
	height: 86px;
	width: 92px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px;
}

.stages__icon--predproject{
	background-image: url("images/predproject.png");
}

.stages__icon--project{
	background-image: url("images/project.png");
}

.stages__icon--building{
	background-image: url("images/building.png");
}

.stages__icon--predexp{
	background-image: url("images/predexp.png");
}

.stages__icon--exp{
	background-image: url("images/exp.png");
}

.stages__stage-name{
	text-align: center;
	text-transform: uppercase;
	font-family: "PFAgoraSlabPro";
	font-weight:500;
	font-size:0.875rem;
	color:#000;
}

.stages__stage-name span{
	border-bottom: 1px dotted #b2b2b2;
}

.stages__arrow{
	width: 12px;
	height:14px;
	background-image: url("images/arrow.png");
	position: absolute;
	top:29%;
	right: 0;
}

.js-sticky{
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #fff;
	padding: 35px 0;
	box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.07);
}

.js-sticky .stages__arrow{
	top:50%;
	transform:translateY(-50%);
}

.js-sticky .stages__icon{
	display: none;
}

.js-sticky .stages__stage{
	width: auto;
	padding-right: 39px;
	margin-right: 25px;
}

.js-sticky .stages__stage:last-child{
	width: auto;
	padding-right: 0;
	margin-right: 0;
}

.js-sticky .stages__wrap{
	width: 880px;
	justify-content:flex-start;
}
