.body{
	font-family: "EurofontC";
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	line-height: normal;
	min-width: 320px;
	background-color: #000;
	background: radial-gradient(ellipse closest-side at center, #000000 0%, #000000 0%, #020f24 100%);

}