.buy{
	padding-top: 59px;
	padding-bottom: 27px;

	@media(min-width: 768px){
		padding-top: 50px;
	}

	@media(min-width: 960px){
		padding-top: 55px;
	}

	@media(min-width: 1200px){
		padding-top: 79px;
	}

	&__wrap{
		width: 100%;
		padding: 0 14px;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 320px;

		@media(min-width: 768px){
			max-width: 768px;
			padding: 0 22px;
		}

		@media(min-width: 960px){
			max-width: 960px;
			padding: 0 10px;
		}

		@media(min-width: 1200px){
			max-width: 1200px;
			padding: 0 15px;
		}
	}

	&__title{
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 32px;

		@media(min-width: 960px){
			margin-bottom: 18px;
		}

		@media(min-width: 1200px){
			margin-bottom: 19px;
		}

		
	}

	&__options{
		margin-bottom: 26px;

		@media(min-width: 768px){
			order: 2;
			width: 352px;
			flex-shrink: 0;
		}

		@media(min-width: 960px){
			padding-top: 3px;
			width: 380px;
		}

		@media(min-width: 1200px){
			width: 570px;
		}
	}

	&__content{
		@media(min-width: 768px){
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	











}