@font-face {
	font-family: "EurofontC";
	src: url("../fonts/EurofontC-regular.woff2")
		format("woff2"),
		url("../fonts/EurofontC-regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "EurofontC";
	src: url("../fonts/EurofontC-bold.woff2")
		format("woff2"),
		url("../fonts/EurofontC-bold.woff")
		format("woff");
	font-weight: 700;
	font-style: normal;
}






