.footer{
	padding-top: 42px;
	padding-bottom: 14px;

	@media(min-width: 768px){
		padding-top: 52px;
		padding-bottom: 20px;
	}

	@media(min-width: 768px){
		padding-top: 68px;
		padding-bottom: 22px;
	}

	&__wrap{
		width: 100%;
		padding: 0 14px;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 320px;

		@media(min-width: 768px){
			max-width: 768px;
			padding: 0 22px;
		}

		@media(min-width: 960px){
			max-width: 960px;
			padding: 0 10px;
		}

		@media(min-width: 1200px){
			max-width: 1200px;
			padding: 0 15px;
		}
	}
}