.login-form{
	flex-shrink: 0;

	/* @media(min-width: 768px){
		padding-top: 56px;
		padding-bottom: 0;
	} */

	/* @media(min-width: 960px){
		padding-top: 29px;
	}
	
	@media(min-width: 1200px){
		padding-top: 82px;
	} */
}