.logo{
	display: flex;

	&__text{
		width: 75px;
		height: 24px;
		background-repeat: no-repeat;
		margin-right: 6px;

		@media(min-width: 768px){
			width: 110px;
			height: 36px;
		}
	}

	&__image{
		width: 35px;
		height: 25px;
		background-repeat: no-repeat;

		@media(min-width: 768px){
			width: 52px;
			height: 36px;
		}
	}
}