.price{
	padding-top: 27px;
	padding-bottom: 15px;

	@media(min-width: 768px){
		padding-top: 31px;
	}

	@media(min-width: 960px){
		padding-top: 29px;
	}

	@media(min-width: 1200px){
		padding-top: 40px;
	}

	&__title{
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 33px;

		@media(min-width: 768px){
			margin-bottom: 56px;
		}

		@media(min-width: 960px){
			margin-bottom: 57px;
		}

		@media(min-width: 1200px){
			margin-bottom: 59px;
		}
	}

	&__wrap{
		width: 100%;
		padding: 0 14px;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 320px;

		@media(min-width: 768px){
			max-width: 768px;
			padding: 0 22px;
		}

		@media(min-width: 960px){
			max-width: 960px;
			padding: 0 10px;
		}

		@media(min-width: 1200px){
			max-width: 1200px;
			padding: 0 15px;
		}
	}

	&__cards{
		@media(min-width: 768px){
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
	}
}