.ref-link{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 13px;

	@media(min-width: 768px){
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 4px;
	}

	@media(min-width: 1200px){
		margin-bottom: 10px;
	}

	&__title{
		width: 100%;
		margin-bottom: 10px;

		@media(min-width: 768px){
			width: auto;
			margin-bottom: 0;
			margin-right: 17px;
		}

		@media(min-width: 960px){
			font-size: 20px;
			margin-right: 8px;
		}
	}

	&__itself{
		color: #d8f5f5;

		&:hover{
			color: #583ac1;
		}

		@media(min-width: 768px){
			font-size: 18px;
		}

		@media(min-width: 960px){
			font-size: 20px;
		}
	}

	&__link-text{
		color: #583ac1;
		font-weight: 700;
		max-width: 200px;
		word-break: break-word;

		@media(min-width: 768px){
			max-width: none;
			color: #fff;
			margin-right: 32px;
			font-size: 18px;
		}

		@media(min-width: 960px){
			font-size: 20px;
			margin-right: 26px;
		}

		
	}

	&__icon{
		width: 31px;
		height: 31px;
		background-repeat: no-repeat;
		position: relative;
		top: 5px;
		cursor: pointer;

		@media(min-width: 768px){
			position: static;
		}
	}
}
