.referal{
	padding-top: 32px;
	padding-bottom: 50px;

	@media(min-width: 768px){
		padding-top: 38px;
	}

	@media(min-width: 960px){
		padding-top: 44px;
	}

	@media(min-width: 1200px){
		padding-top: 54px;
	}

	&__title{
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 13px;

		@media(min-width: 768px){
			margin-bottom: 24px;
		}

		@media(min-width: 1200px){
			margin-bottom: -6px;
		}
	}

	&__wrap{
		width: 100%;
		padding: 0 14px;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 320px;

		@media(min-width: 768px){
			max-width: 768px;
			padding: 0 22px;
		}

		@media(min-width: 960px){
			max-width: 960px;
			padding: 0 10px;
		}

		@media(min-width: 1200px){
			max-width: 1200px;
			padding: 0 15px;
		}

	}
}