

/* Start:/bitrix/templates/main/components/bitrix/menu/header/style.css?1417869997583*/
/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(/bitrix/templates/main/components/bitrix/menu/header/images/left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link, 
ul.left-menu li a.selected:visited, 
ul.left-menu li a.selected:active, 
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}



/* End */


/* Start:/bitrix/templates/main/components/bitrix/sale.basket.basket.small/header/style.css?1417869997329*/
/*Table*/
table.sale_basket_small
{
	width:245;
	border-collapse:collapse;
	font-size:12px;
	border:1px solid #ADC3D5;
}

/*Table head*/
table.sale_basket_small th
{
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_basket_small th, table.sale_basket_small td
{
	padding: 3px 5px;
	vertical-align:top;
}
/* End */


/* Start:/bitrix/templates/main/components/bitrix/menu/main_top/style.css?14301229021358*/
#horizontal li.active>a, #horizontal li.active>span {
    color:#E66D01;
}

#horizontal ul li.active>a {
    color: #fff;
    background: #1F6954;
}

/*Sub-menu box*/
#horizontal li ul
{
	position:absolute;
	top:auto;
	display:none;
	height:auto;
    width: auto;
	background:#fff;
    border: 1px #D9D9D9 solid;
    margin-left: -1px;
}

/*Sub-menu item box*/
#horizontal li li
{
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#horizontal li ul a
{
	text-align:left;
    margin-left: 0 !important;
    padding-left: 27px;
    /*padding: 8px 0 8px 17px !important;*/
}

#horizontal li:hover>a, #horizontal li:hover>span{
    color: #E66D01;
}

#horizontal li ul li:hover>a{
	color: #fff;
    background: #1F6954;
}

#horizontal li:hover ul ul,
#horizontal li.jshover ul ul,
#horizontal li:hover ul ul ul,
#horizontal li.jshover ul ul ul,
#horizontal li:hover ul ul ul ul,
#horizontal li.jshover ul ul ul ul,
#horizontal li:hover ul ul ul ul ul,
#horizontal li.jshover ul ul ul ul ul
{
	display:none;
}

#horizontal li:hover ul,
#horizontal li.jshover ul,
#horizontal li li:hover ul,
#horizontal li li.jshover ul,
#horizontal li li li:hover ul,
#horizontal li li li.jshover ul,
#horizontal li li li li:hover ul,
#horizontal li li li li.jshover ul,
#horizontal li li li li li:hover ul,
#horizontal li li li li li.jshover ul
{
	display:block;
}
/* End */


/* Start:/bitrix/templates/main/components/bitrix/menu/footer/style.css?1417869997583*/
/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(/bitrix/templates/main/components/bitrix/menu/footer/images/left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link, 
ul.left-menu li a.selected:visited, 
ul.left-menu li a.selected:active, 
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}



/* End */


/* Start:/bitrix/templates/main/styles.css?1455795517190*/
input.error,
textarea.error
{
    border: 1px red solid !important;
}

.jq-selectbox__select{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 27px !important;
}
/* End */
/* /bitrix/templates/main/components/bitrix/menu/header/style.css?1417869997583 */
/* /bitrix/templates/main/components/bitrix/sale.basket.basket.small/header/style.css?1417869997329 */
/* /bitrix/templates/main/components/bitrix/menu/main_top/style.css?14301229021358 */
/* /bitrix/templates/main/components/bitrix/menu/footer/style.css?1417869997583 */
/* /bitrix/templates/main/styles.css?1455795517190 */

/*Action / Best Price*/

.goods-item--best-price{
	position: relative;
}

.goods-item--best-price:after{
	content: "";
	position: absolute;
	left:4px;
	top:35px;
	width: 51px;
	height: 49px;
	background-image: url("img/label-best-price.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}

.goods-item--action{
	position: relative;
}

.goods-item--action:after{
	content: "";
	position: absolute;
	left:4px;
	top:35px;
	width: 42px;
	height: 33px;
	background-image: url("img/label-action.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}
