@font-face {
  font-family: "Trebuchet";
  src: url("../fonts/Trebuchet MS Regular.ttf") format("truetype"), url("../fonts/Trebuchet MS Regular.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet";
  src: url("../fonts/Trebuchet MS Bold.ttf") format("truetype"), url("../fonts/Trebuchet MS Bold.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo2.0-Thin.otf") format("opentype"), url("../fonts/Exo2.0-Thin.eot") format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}

.body {
  font-family: "Trebuchet", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  min-width: 320px;
  display: flex;
}

.wrap {
  width: 90%;
  max-width: 1120px;
}

.cat-food {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%), url("../images/pattern.jpg");
  background-repeat: repeat;
  width: 100%;
}

.cat-food__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 1115px) {
  .cat-food__items {
    max-width: 660px;
  }
}

@media (max-width: 735px) {
  .cat-food__items {
    max-width: 320px;
  }
}

.pack {
  text-decoration: none;
  display: block;
}

.pack__top {
  display: flex;
  position: relative;
  margin-bottom: -1px;
}

.pack__top-line {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-top: 4px solid #1698d9;
  border-right: 4px solid #1698d9;
  border-top-right-radius: 10px;
  width: 100%;
}

.pack__body {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-bottom: 4px solid #1698d9;
  border-right: 4px solid #1698d9;
  border-left: 4px solid #1698d9;
  min-height: 436px;
  padding-left: 14%;
  padding-right: 14%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url("../images/cat.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  /* background-size: 85%; */
  position: relative;
}

.pack__corner {
  height: 45px;
  width: 45px;
  flex-shrink: 0;
  background: linear-gradient(to right bottom, transparent 50%, #f2f2f2 0%);
  position: relative;
  overflow: hidden;
}

.pack__corner:after {
  content: "";
  position: absolute;
  height: 80px;
  width: 4px;
  left: 20px;
  top: -16px;
  background-color: #1698d9;
  transform: rotate(45deg);
}

.pack__tagline {
  color: #666;
  margin-bottom: 5px;
}

.pack__tagline--selected-hover {
  color: #e62e7a;
}

.pack__title {
  margin-top: 0;
  margin-left: -3px;
  color: #000;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: -2px;
}

@media (max-width: 360px) {
  .pack__title {
    font-size: 40px;
    margin-bottom: 0;
  }
}

.pack__ingredient {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.pack__portions {
  color: #666;
  font-size: 14px;
}

.pack__portions span {
  font-weight: 700;
}

.pack__extra {
  color: #666;
  font-size: 14px;
}

.pack__extra span {
  font-weight: 700;
}

.pack__text {
  position: relative;
  top: -23px;
}

.pack__mass {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #1698d9;
  text-align: center;
  position: absolute;
  bottom: 11px;
  right: 11px;
}

.pack__mass-number {
  color: #fff;
  font-size: 42px;
  position: relative;
  top: 8px;
}

.pack__unit {
  color: #fff;
  font-size: 21px;
  position: relative;
  top: 1px;
}

.pack--hover .pack__top-line {
  border-color: #2ea8e6;
}

.pack--hover .pack__body {
  border-color: #2ea8e6;
}

.pack--hover .pack__corner:after {
  background-color: #2ea8e6;
}

.pack--hover .pack__mass {
  background-color: #2ea8e6;
}

.pack--selected .pack__top-line {
  border-color: #d91667;
}

.pack--selected .pack__body {
  border-color: #d91667;
}

.pack--selected .pack__corner:after {
  background-color: #d91667;
}

.pack--selected .pack__mass {
  background-color: #d91667;
}

.pack--selected-hover .pack__top-line {
  border-color: #e62e7a;
}

.pack--selected-hover .pack__body {
  border-color: #e62e7a;
}

.pack--selected-hover .pack__corner:after {
  background-color: #e62e7a;
}

.pack--selected-hover .pack__mass {
  background-color: #e62e7a;
}

.item {
  width: 32%;
  max-width: 320px;
  position: relative;
}

.item__caption {
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}

.item__caption--when-selected {
  display: none;
}

.item__caption--when-disabled {
  color: #ffff66;
  display: none;
}

.item__link {
  color: #1698d9;
  text-decoration: none;
  position: relative;
}

.item__link:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed #1698d9;
  left: 0;
  bottom: 0;
}

.item__link:hover {
  color: #2ea8e6;
}

.item--disabled {
  cursor: auto;
  pointer-events: none;
}

.item--disabled .item__caption--default {
  display: none;
}

.item--disabled .item__caption--when-disabled {
  display: block;
}

.item--disabled .pack__top-line {
  border-color: #b3b3b3;
}

.item--disabled .pack__body {
  border-color: #b3b3b3;
}

.item--disabled .pack__corner:after {
  background-color: #b3b3b3;
}

.item--disabled .pack__mass {
  background-color: #b3b3b3;
}

.item--disabled .pack__tagline {
  color: #b3b3b3;
}

.item--disabled .pack__title {
  color: #b3b3b3;
}

.item--disabled .pack__ingredient {
  color: #b3b3b3;
}

.item--disabled .pack__portions {
  color: #b3b3b3;
}

.item--disabled .pack__extra {
  color: #b3b3b3;
}

.item--disabled .pack__body {
  background-image: url("../images/cat--disabled.png");
}

@media (max-width: 1115px) {
  .item {
    width: 48.5%;
    margin-bottom: 10px;
  }
  .item:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 735px) {
  .item {
    width: 100%;
  }
}

.title {
  font-family: "Exo";
  font-size: 36px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
  margin-bottom: 23px;
}
